/* GENERAL STYLING */
* {
  margin: 0;
}

body {
  background-color: antiquewhite;
}

/* HEADER STYLING */
header {
  background-color: rgb(255, 241, 131);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 10vh;
}

header h1 {
  margin-left: 1rem;
}

header h1:hover {
  cursor: pointer;
}

header h2 {
  margin-right: 20rem;
}

header h3 {
  cursor: pointer;
  padding: 1rem;
}

header h3:hover {
  background-color: lightgray;
}


/* LOGIN STYLING */
.login {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}

.login-container {
  display: flex;
  align-items: center;
}

.welcome-message {
  margin-right: 4rem;
}

.no-account {
  text-align: center;
  margin-top: 5rem;
}


/* CREATE ACCOUNT STYLING */
.create-account {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.create-container {
  display: flex;
  align-items: center;
}

.create-details {
  margin-right: 4rem;
}

.existing-account {
  text-align: center;
  margin-top: 5rem;
}


/* NEWS ARTICLE STYLING */
.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.articles-container img {
  width: 100%;
  border-radius: 1rem;
}

.news-article {
  background-color: darkgray;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.news-article h3 {
  margin-top: 1rem;
}

.news-article p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* ACTION BAR STYLING */
.action-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.action-bar img {
  border-radius: 0;
  width: 3rem;
}

.action-bar img:hover {
  cursor: pointer;
}

.action-bar p {
  font-size: 2rem;
  font-weight: 600;
}


/* COMMENT SECTION STYLING */
.comments {
  display: flex;
}

.comments form {
  margin: auto;
  text-align: center;
}


/* SETTINGS STYLING */
.settings {
  text-align: center;
  margin-top: 30vh;
}

.settings form {
  margin: 3rem auto;
}