/* GENERAL STYLING */
* {
  margin: 0;
  font-family: 'Gantari', sans-serif;
}

body {
  background-color: rgb(224, 230, 255);
}

button, .button {
  color: white;
  background-color: rgb(68, 109, 189);
  font-weight: bold;
  padding: 0.5rem;
  border: none;
}

button:hover, .button:hover {
  opacity: 0.75;
}

.logged-out {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: -7.5rem;
}

/* HEADER STYLING */
header {
  color: white;
  background-color: rgb(68, 109, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 10vh;
  border-bottom: 2px solid black;
}

header h1 {
  margin-left: 1rem;
}

header h1:hover {
  cursor: pointer;
}

header h2 {
  margin-right: 20rem;
}

header h3 {
  cursor: pointer;
  padding: 1rem;
}

header h3:hover {
  color: rgb(68, 109, 189);
  background-color: white;
}


/* LOGIN STYLING */
.login {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}

.login-container {
  display: flex;
  align-items: center;
}

.welcome-message {
  margin-right: 4rem;
}

.no-account {
  text-align: center;
  margin-top: 5rem;
}


/* CREATE ACCOUNT STYLING */
.create-account {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.create-container {
  display: flex;
  align-items: center;
}

.create-details {
  margin-right: 4rem;
}

.create-details p {
  margin: 0.5rem auto;
}

.username-error {
  color: rgb(168, 0, 0);
}

.existing-account {
  text-align: center;
  margin-top: 5rem;
}


/* NEWS ARTICLE STYLING */
.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.articles-container img {
  width: 100%;
  border-radius: 1rem;
}

.news-article {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.news-article h3 {
  margin-top: 1rem;
}

.news-article p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* ACTION BAR STYLING */
.action-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.action-bar img {
  border-radius: 0;
  width: 3rem;
}

.action-bar img:hover {
  cursor: pointer;
}

.action-bar p {
  font-size: 2rem;
  font-weight: 600;
}


/* COMMENT SECTION STYLING */
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments form {
  margin: auto;
  text-align: center;
}


/* SETTINGS STYLING */
.settings {
  text-align: center;
  margin-top: 30vh;
}

.settings form {
  margin: 3rem auto;
}

.delete-button {
  background-color: rgb(168, 0, 0);
}